In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np

In [2]:
jan = pd.read_csv('monthly_data/rail-jan.csv')

In [3]:
jan['datetime'] = pd.to_datetime(jan['timestamp'], format='%Y-%m-%d %H:%M:%S')
jan.drop(columns = ['timestamp'], inplace=True)

In [4]:
jan.sort_values('datetime', inplace=True)

In [5]:
jan.reset_index(drop=True, inplace=True)

In [7]:
list(jan.columns.values)

['bearing',
 'blockID',
 'delay',
 'direction',
 'garage',
 'lastLocID',
 'lastStopSeq',
 'messageCode',
 'nextLocID',
 'nextStopSeq',
 'routeNumber',
 'signMessageLong',
 'tripID',
 'type',
 'vehicle_id',
 'vehicle_location_longitude',
 'vehicle_location_latitude',
 'datetime']

In [8]:
jan.messageCode.unique()

array([892, 975, 971, 929, 891, 978, 972, 970, 927, 968, 976, 907, 893,
       969, 974, 906, 900, 902, 894, 973, 965])

In [9]:
jan.signMessageLong.unique()

array(['MAX  Blue Line to Gresham',
       'MAX  Green Line to Clackamas Town Center',
       'MAX  Yellow Line to City Center/Milwaukie',
       'MAX  Red Line to City Center & Beaverton',
       'MAX  Blue Line to Hillsboro',
       'MAX  Green Line to City Center/PSU',
       'MAX  Yellow Line to Expo Center',
       'MAX  Orange Line to City Center/Expo Center',
       'MAX  Red Line to Airport', 'MAX  Orange Line to Milwaukie',
       'MAX  Green Line to Gateway TC',
       'MAX  Blue Line to Ruby Junction/E 197th Ave',
       'MAX  Blue Line to Willow Creek/SW 185th Ave',
       'MAX  Orange Line to City Center/PSU',
       'MAX  Yellow Line to Interstate/Rose Quarter',
       'MAX  Blue Line to Elmonica/170th', 'MAX  Blue Line to Rose Qtr',
       'MAX  Blue Line to City Center', 'MAX  Blue Line to Gateway TC',
       'MAX  Yellow Line to City Center/PSU', 'MAX  To City Center'],
      dtype=object)

In [10]:
jan.messageCode.nunique() == jan.signMessageLong.nunique()

True

In [11]:
jan.loc[jan.signMessageLong == 'MAX  Orange Line to Milwaukie'].head()

,bearing,blockID,delay,direction,garage,lastLocID,lastStopSeq,messageCode,nextLocID,nextStopSeq,routeNumber,signMessageLong,tripID,type,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
44,203,9068,-234,1,RUBY,7606,7,968,13710,8,290,MAX Orange Line to Milwaukie,7004094,rail,534,-122.683077,45.508826,2017-01-01 00:00:30
46,203,9068,-234,1,RUBY,7606,7,968,13710,8,290,MAX Orange Line to Milwaukie,7004094,rail,537,-122.683077,45.508826,2017-01-01 00:00:30
63,202,9068,-273,1,RUBY,7618,6,968,7606,7,290,MAX Orange Line to Milwaukie,7004094,rail,534,-122.682921,45.509080,2017-01-01 00:00:58
64,175,9064,-85,1,RUBY,13717,15,968,13718,16,290,MAX Orange Line to Milwaukie,7004093,rail,412,-122.636496,45.459794,2017-01-01 00:00:58
65,175,9064,-85,1,RUBY,13717,15,968,13718,16,290,MAX Orange Line to Milwaukie,7004093,rail,420,-122.636496,45.459794,2017-01-01 00:00:58

In [12]:
orange = jan.loc[jan.signMessageLong == 'MAX  Orange Line to Milwaukie'].copy()

In [14]:
orange.drop(columns = ['bearing', 'garage', 'messageCode', 'signMessageLong', 'type', 'routeNumber'], inplace=True)

In [15]:
orange.head()

,blockID,delay,direction,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
44,9068,-234,1,7606,7,13710,8,7004094,534,-122.683077,45.508826,2017-01-01 00:00:30
46,9068,-234,1,7606,7,13710,8,7004094,537,-122.683077,45.508826,2017-01-01 00:00:30
63,9068,-273,1,7618,6,7606,7,7004094,534,-122.682921,45.509080,2017-01-01 00:00:58
64,9064,-85,1,13717,15,13718,16,7004093,412,-122.636496,45.459794,2017-01-01 00:00:58
65,9064,-85,1,13717,15,13718,16,7004093,420,-122.636496,45.459794,2017-01-01 00:00:58

In [17]:
orange.groupby(['datetime', 'lastLocID']).nunique()

                               blockID  delay  direction  lastLocID  \
datetime            lastLocID
2017-01-01 00:00:30 7606             1      1          1          1
2017-01-01 00:00:58 7618             1      1          1          1
                    13717            1      1          1          1
2017-01-01 00:01:45 7601             1      1          1          1
2017-01-01 00:02:48 13710            1      1          1          1
2017-01-01 00:03:14 9303             1      1          1          1
2017-01-01 00:04:31 13718            1      1          1          1
2017-01-01 00:05:24 7627             1      1          1          1
2017-01-01 00:06:45 13711            1      1          1          1
2017-01-01 00:07:27 7646             1      1          1          1
2017-01-01 00:08:22 7608             1      1          1          1
2017-01-01 00:09:33 13712            1      1          1          1
2017-01-01 00:11:11 13713            1      1          1          1
2017-01-01 00:12:24 7606             1      1          1          1
2017-01-01 00:12:48 7618             1      1          1          1
2017-01-01 00:13:52 13714            1      1          1          1
2017-01-01 00:14:18 13710            1      1          1          1
2017-01-01 00:14:30 13715            1      1          1          1
2017-01-01 00:16:43 7601             1      1          1          1
2017-01-01 00:17:15 13716            1      1          1          1
2017-01-01 00:17:23 9303             1      1          1          1
2017-01-01 00:17:31 13711            1      1          1          1
2017-01-01 00:17:32 13711            1      1          1          1
2017-01-01 00:19:18 7627             1      1          1          1
2017-01-01 00:20:04 13717            1      1          1          1
2017-01-01 00:20:45 13712            1      1          1          1
2017-01-01 00:21:22 7646             1      1          1          1
2017-01-01 00:22:16 13713            1      1          1          1
2017-01-01 00:22:26 7608             1      1          1          1
2017-01-01 00:23:26 13718            1      1          1          1
...                                ...    ...        ...        ...
2017-01-31 23:31:57 13717            1      1          1          1
2017-01-31 23:32:08 13711            1      1          1          1
2017-01-31 23:33:45 7601             1      1          1          1
2017-01-31 23:35:17 9303             1      1          1          1
2017-01-31 23:35:23 13712            1      1          1          1
2017-01-31 23:35:42 13718            1      1          1          1
2017-01-31 23:36:54 13713            1      1          1          1
2017-01-31 23:37:22 7627             1      1          1          1
2017-01-31 23:38:37 13714            1      1          1          1
2017-01-31 23:39:25 7646             1      1          1          1
2017-01-31 23:40:12 13715            1      1          1          1
2017-01-31 23:40:28 7608             1      1          1          1
2017-01-31 23:43:05 13716            1      1          1          1
2017-01-31 23:44:32 7606             1      1          1          1
2017-01-31 23:45:01 7601             1      1          1          1
2017-01-31 23:45:26 7618             1      1          1          1
2017-01-31 23:46:00 13717            1      1          1          1
2017-01-31 23:47:26 13710            1      1          1          1
2017-01-31 23:48:30 9303             1      1          1          1
2017-01-31 23:49:47 13718            1      1          1          1
2017-01-31 23:50:30 7627             1      1          1          1
2017-01-31 23:51:43 13711            1      1          1          1
2017-01-31 23:52:39 7646             1      1          1          1
2017-01-31 23:53:39 7608             1      1          1          1
2017-01-31 23:55:04 13712            1      1          1          1
2017-01-31 23:56:49 13713            1      1          1          1
2017-01-31 23:57:11 7618             1      1          1          1
2017-01-31 23:57:37 7606             1      1          1          1
2017-01-31 23:59:42 13714            1      1          1          1
2017-01-31 23:59:48 7601             1      1          1          1

                               lastStopSeq  nextLocID  nextStopSeq  tripID  \
datetime            lastLocID
2017-01-01 00:00:30 7606                 1          1            1       1
2017-01-01 00:00:58 7618                 1          1            1       1
                    13717                1          1            1       1
2017-01-01 00:01:45 7601                 1          1            1       1
2017-01-01 00:02:48 13710                1          1            1       1
2017-01-01 00:03:14 9303                 1          1            1       1
2017-01-01 00:04:31 13718                1          1            1       1
2017-01-01 00:05:24 7627                 1          1            1       1
2017-01-01 00:06:45 13711                1          1            1       1
2017-01-01 00:07:27 7646                 1          1            1       1
2017-01-01 00:08:22 7608                 1          1            1       1
2017-01-01 00:09:33 13712                1          1            1       1
2017-01-01 00:11:11 13713                1          1            1       1
2017-01-01 00:12:24 7606                 1          1            1       1
2017-01-01 00:12:48 7618                 1          1            1       1
2017-01-01 00:13:52 13714                1          1            1       1
2017-01-01 00:14:18 13710                1          1            1       1
2017-01-01 00:14:30 13715                1          1            1       1
2017-01-01 00:16:43 7601                 1          1            1       1
2017-01-01 00:17:15 13716                1          1            1       1
2017-01-01 00:17:23 9303                 1          1            1       1
2017-01-01 00:17:31 13711                1          1            1       1
2017-01-01 00:17:32 13711                1          1            1       1
2017-01-01 00:19:18 7627                 1          1            1       1
2017-01-01 00:20:04 13717                1          1            1       1
2017-01-01 00:20:45 13712                1          1            1       1
2017-01-01 00:21:22 7646                 1          1            1       1
2017-01-01 00:22:16 13713                1          1            1       1
2017-01-01 00:22:26 7608                 1          1            1       1
2017-01-01 00:23:26 13718                1          1            1       1
...                                    ...        ...          ...     ...
2017-01-31 23:31:57 13717                1          1            1       1
2017-01-31 23:32:08 13711                1          1            1       1
2017-01-31 23:33:45 7601                 1          1            1       1
2017-01-31 23:35:17 9303                 1          1            1       1
2017-01-31 23:35:23 13712                1          1            1       1
2017-01-31 23:35:42 13718                1          1            1       1
2017-01-31 23:36:54 13713                1          1            1       1
2017-01-31 23:37:22 7627                 1          1            1       1
2017-01-31 23:38:37 13714                1          1            1       1
2017-01-31 23:39:25 7646                 1          1            1       1
2017-01-31 23:40:12 13715                1          1            1       1
2017-01-31 23:40:28 7608                 1          1            1       1
2017-01-31 23:43:05 13716                1          1            1       1
2017-01-31 23:44:32 7606                 1          1            1       1
2017-01-31 23:45:01 7601                 1          1            1       1
2017-01-31 23:45:26 7618                 1          1            1       1
2017-01-31 23:46:00 13717                1          1            1       1
2017-01-31 23:47:26 13710                1          1            1       1
2017-01-31 23:48:30 9303                 1          1            1       1
2017-01-31 23:49:47 13718                1          1            1       1
2017-01-31 23:50:30 7627                 1          1            1       1
2017-01-31 23:51:43 13711                1          1            1       1
2017-01-31 23:52:39 7646                 1          1            1       1
2017-01-31 23:53:39 7608                 1          1            1       1
2017-01-31 23:55:04 13712                1          1            1       1
2017-01-31 23:56:49 13713                1          1            1       1
2017-01-31 23:57:11 7618                 1          1            1       1
2017-01-31 23:57:37 7606                 1          1            1       1
2017-01-31 23:59:42 13714                1          1            1       1
2017-01-31 23:59:48 7601                 1          1            1       1

                               vehicle_id  vehicle_location_longitude  \
datetime            lastLocID
2017-01-01 00:00:30 7606                2                           1
2017-01-01 00:00:58 7618                2                           1
                    13717               2                           1
2017-01-01 00:01:45 7601                2                           1
2017-01-01 00:02:48 13710               2                           1
2017-01-01 00:03:14 9303                2                           1
2017-01-01 00:04:31 13718               2                           1
2017-01-01 00:05:24 7627                2                           1
2017-01-01 00:06:45 13711               2                           1
2017-01-01 00:07:27 7646                2                           1
2017-01-01 00:08:22 7608                2                           1
2017-01-01 00:09:33 13712               2                           1
2017-01-01 00:11:11 13713               2                           1
2017-01-01 00:12:24 7606                2                           1
2017-01-01 00:12:48 7618                2                           1
2017-01-01 00:13:52 13714               2                           1
2017-01-01 00:14:18 13710               2                           1
2017-01-01 00:14:30 13715               2                           1
2017-01-01 00:16:43 7601                2                           1
2017-01-01 00:17:15 13716               2                           1
2017-01-01 00:17:23 9303                2                           1
2017-01-01 00:17:31 13711               1                           1
2017-01-01 00:17:32 13711               1                           1
2017-01-01 00:19:18 7627                2                           1
2017-01-01 00:20:04 13717               2                           1
2017-01-01 00:20:45 13712               2                           1
2017-01-01 00:21:22 7646                2                           1
2017-01-01 00:22:16 13713               2                           1
2017-01-01 00:22:26 7608                2                           1
2017-01-01 00:23:26 13718               2                           1
...                                   ...                         ...
2017-01-31 23:31:57 13717               2                           1
2017-01-31 23:32:08 13711               2                           1
2017-01-31 23:33:45 7601                2                           1
2017-01-31 23:35:17 9303                2                           1
2017-01-31 23:35:23 13712               2                           1
2017-01-31 23:35:42 13718               2                           1
2017-01-31 23:36:54 13713               2                           1
2017-01-31 23:37:22 7627                2                           1
2017-01-31 23:38:37 13714               2                           1
2017-01-31 23:39:25 7646                2                           1
2017-01-31 23:40:12 13715               2                           1
2017-01-31 23:40:28 7608                2                           1
2017-01-31 23:43:05 13716               2                           1
2017-01-31 23:44:32 7606                2                           1
2017-01-31 23:45:01 7601                2                           1
2017-01-31 23:45:26 7618                2                           1
2017-01-31 23:46:00 13717               2                           1
2017-01-31 23:47:26 13710               2                           1
2017-01-31 23:48:30 9303                2                           1
2017-01-31 23:49:47 13718               2                           1
2017-01-31 23:50:30 7627                2                           1
2017-01-31 23:51:43 13711               2                           1
2017-01-31 23:52:39 7646                2                           1
2017-01-31 23:53:39 7608                2                           1
2017-01-31 23:55:04 13712               2                           1
2017-01-31 23:56:49 13713               2                           1
2017-01-31 23:57:11 7618                2                           1
2017-01-31 23:57:37 7606                2                           1
2017-01-31 23:59:42 13714               2                           1
2017-01-31 23:59:48 7601                2                           1

                               vehicle_location_latitude  datetime
datetime            lastLocID
2017-01-01 00:00:30 7606                               1         1
2017-01-01 00:00:58 7618                               1         1
                    13717                              1         1
2017-01-01 00:01:45 7601                               1         1
2017-01-01 00:02:48 13710                              1         1
2017-01-01 00:03:14 9303                               1         1
2017-01-01 00:04:31 13718                              1         1
2017-01-01 00:05:24 7627                               1         1
2017-01-01 00:06:45 13711                              1         1
2017-01-01 00:07:27 7646                               1         1
2017-01-01 00:08:22 7608                               1         1
2017-01-01 00:09:33 13712                              1         1
2017-01-01 00:11:11 13713                              1         1
2017-01-01 00:12:24 7606                               1         1
2017-01-01 00:12:48 7618                               1         1
2017-01-01 00:13:52 13714                              1         1
2017-01-01 00:14:18 13710                              1         1
2017-01-01 00:14:30 13715                              1         1
2017-01-01 00:16:43 7601                               1         1
2017-01-01 00:17:15 13716                              1         1
2017-01-01 00:17:23 9303                               1         1
2017-01-01 00:17:31 13711                              1         1
2017-01-01 00:17:32 13711                              1         1
2017-01-01 00:19:18 7627                               1         1
2017-01-01 00:20:04 13717                              1         1
2017-01-01 00:20:45 13712                              1         1
2017-01-01 00:21:22 7646                               1         1
2017-01-01 00:22:16 13713                              1         1
2017-01-01 00:22:26 7608                               1         1
2017-01-01 00:23:26 13718                              1         1
...                                                  ...       ...
2017-01-31 23:31:57 13717                              1         1
2017-01-31 23:32:08 13711                              1         1
2017-01-31 23:33:45 7601                               1         1
2017-01-31 23:35:17 9303                               1         1
2017-01-31 23:35:23 13712                              1         1
2017-01-31 23:35:42 13718                              1         1
2017-01-31 23:36:54 13713                              1         1
2017-01-31 23:37:22 7627                               1         1
2017-01-31 23:38:37 13714                              1         1
2017-01-31 23:39:25 7646                               1         1
2017-01-31 23:40:12 13715                              1         1
2017-01-31 23:40:28 7608                               1         1
2017-01-31 23:43:05 13716                              1         1
2017-01-31 23:44:32 7606                               1         1
2017-01-31 23:45:01 7601                               1         1
2017-01-31 23:45:26 7618                               1         1
2017-01-31 23:46:00 13717                              1         1
2017-01-31 23:47:26 13710                              1         1
2017-01-31 23:48:30 9303                               1         1
2017-01-31 23:49:47 13718                              1         1
2017-01-31 23:50:30 7627                               1         1
2017-01-31 23:51:43 13711                              1         1
2017-01-31 23:52:39 7646                               1         1
2017-01-31 23:53:39 7608                               1         1
2017-01-31 23:55:04 13712                              1         1
2017-01-31 23:56:49 13713                              1         1
2017-01-31 23:57:11 7618                               1         1
2017-01-31 23:57:37 7606                               1         1
2017-01-31 23:59:42 13714                              1         1
2017-01-31 23:59:48 7601                               1         1

[30867 rows x 12 columns]

In [18]:
orange.sort_values(['datetime', 'vehicle_id'], inplace=True)

In [20]:
orange.loc[orange.tripID == 7004094].head()

,blockID,delay,direction,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
44,9068,-234,1,7606,7,13710,8,7004094,534,-122.683077,45.508826,2017-01-01 00:00:30
46,9068,-234,1,7606,7,13710,8,7004094,537,-122.683077,45.508826,2017-01-01 00:00:30
63,9068,-273,1,7618,6,7606,7,7004094,534,-122.682921,45.509080,2017-01-01 00:00:58
66,9068,-273,1,7618,6,7606,7,7004094,537,-122.682921,45.509080,2017-01-01 00:00:58
117,9068,-202,1,13710,8,13711,9,7004094,534,-122.675109,45.506181,2017-01-01 00:02:48

In [21]:
orange.drop_duplicates(subset=['datetime', 'tripID'], inplace=True)

In [24]:
orange.loc[orange.tripID == 7004094]

,blockID,delay,direction,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
44,9068,-234,1,7606,7,13710,8,7004094,534,-122.683077,45.508826,2017-01-01 00:00:30
63,9068,-273,1,7618,6,7606,7,7004094,534,-122.682921,45.509080,2017-01-01 00:00:58
117,9068,-202,1,13710,8,13711,9,7004094,534,-122.675109,45.506181,2017-01-01 00:02:48
213,9068,-336,1,13711,9,13712,10,7004094,534,-122.670613,45.502834,2017-01-01 00:06:45
305,9068,-356,1,13712,10,13713,11,7004094,534,-122.661926,45.506468,2017-01-01 00:09:33
342,9068,-369,1,13713,11,13714,12,7004094,534,-122.652921,45.502548,2017-01-01 00:11:11
425,9068,-388,1,13714,12,13715,13,7004094,534,-122.648483,45.493522,2017-01-01 00:13:52
456,9068,-372,1,13715,13,13716,14,7004094,534,-122.648572,45.488938,2017-01-01 00:14:30
523,9068,-347,1,13716,14,13717,15,7004094,534,-122.639576,45.472905,2017-01-01 00:17:15
603,9068,-331,1,13717,15,13718,16,7004094,534,-122.636496,45.459794,2017-01-01 00:20:04
706,9068,-277,1,13718,16,13720,17,7004094,534,-122.641051,45.438486,2017-01-01 00:23:26

In [27]:
orange.groupby(orange.tripID).nunique()

,blockID,delay,direction,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
tripID,,,,,,,,,,,,
7004093,1,2,1,2,2,2,2,1,1,2,2,2
7004094,1,11,1,11,11,11,11,1,1,11,11,11
7004095,1,14,1,16,16,16,16,1,2,16,16,17
7004096,1,15,1,16,16,16,16,1,1,16,16,16
7004097,1,16,1,16,16,16,16,1,1,16,16,16
7004098,1,16,1,16,16,16,16,1,1,16,16,16
7004099,1,16,1,16,16,16,16,1,1,16,16,16
7004100,1,16,1,16,16,16,16,1,1,16,16,16
7004101,1,14,1,16,16,16,16,1,1,16,16,16
7004102,1,16,1,16,16,16,16,1,1,16,16,16
7004103,1,16,1,16,16,16,16,1,2,16,16,17
7004104,1,16,1,16,16,16,16,1,1,16,16,16
7004105,1,13,1,16,16,16,16,1,1,16,16,16
7004106,1,15,1,16,16,16,16,1,2,16,16,17
7004107,1,14,1,14,14,14,14,1,1,14,14,14
7004108,1,16,1,16,16,16,16,1,1,16,16,16
7004109,1,16,1,16,16,16,16,1,1,16,16,16
7004110,1,16,1,16,16,16,16,1,1,16,16,16
7004111,1,14,1,16,16,16,16,1,1,16,16,16
7004112,1,16,1,16,16,16,16,1,1,16,16,16
7004113,1,15,1,16,16,16,16,1,1,16,16,16
7004114,1,16,1,16,16,16,16,1,2,16,16,17
7004115,1,16,1,16,16,16,16,1,1,16,16,16
7004116,1,14,1,16,16,16,16,1,1,16,16,16
7004117,1,15,1,16,16,16,16,1,1,16,16,16
7004118,1,6,1,6,6,6,6,1,1,6,6,6
7004119,1,15,1,16,16,16,16,1,1,16,16,16
7004120,1,15,1,16,16,16,16,1,1,16,16,16
7004121,1,15,1,16,16,16,16,1,2,16,16,17
7004122,1,15,1,16,16,16,16,1,1,16,16,16
...,...,...,...,...,...,...,...,...,...,...,...,...
7130429,1,15,1,16,15,16,16,1,1,16,16,16
7130430,1,15,1,16,15,16,16,1,1,16,16,16
7130431,1,16,1,16,15,16,16,1,2,16,16,17
7130432,1,15,1,16,15,16,16,1,1,16,16,16
7130433,1,16,1,16,16,16,16,1,1,16,16,16
7130434,1,16,1,16,15,16,16,1,2,16,16,17
7130435,1,16,1,16,15,16,16,1,1,16,16,16
7130436,1,15,1,16,15,16,16,1,1,16,16,16
7130437,1,16,1,16,16,16,16,1,1,16,16,16
7130438,1,14,1,16,15,16,16,1,1,16,16,16
7130439,1,15,1,16,16,16,16,1,1,16,16,16
7130440,1,16,1,16,15,16,16,1,1,16,16,16
7130441,1,16,1,16,15,16,16,1,1,16,16,16
7130442,1,15,1,16,15,16,16,1,1,16,16,16
7130443,1,16,1,16,15,16,16,1,2,16,16,17
7130444,1,16,1,16,16,16,16,1,1,16,16,16
7130445,1,15,1,16,15,16,16,1,1,16,16,16
7130446,1,16,1,16,15,16,16,1,1,16,16,16
7130447,1,15,1,16,15,16,16,1,1,16,16,16
7130448,1,14,1,16,16,16,16,1,1,16,16,16
7130449,1,16,1,16,16,17,17,1,2,17,17,17
7130450,1,16,1,16,15,16,16,1,1,16,16,16
7130451,1,15,1,16,15,16,16,1,1,16,16,16
7130452,1,13,1,16,15,16,16,1,1,16,16,16
7130453,1,16,1,16,15,16,16,1,1,16,16,16
7130454,1,16,1,16,15,16,16,1,1,16,16,16
7130455,1,15,1,16,15,16,16,1,1,16,16,16
7130456,1,16,1,16,15,16,16,1,1,16,16,16
7130457,1,16,1,16,15,16,16,1,1,16,16,16
7130458,1,16,1,16,15,16,16,1,1,16,16,16

In [28]:
orange.loc[orange.tripID == 7004095]

,blockID,delay,direction,lastLocID,lastStopSeq,nextLocID,nextStopSeq,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
86,9060,-115,1,7601,1,9303,2,7004095,228,-122.675518,45.526135,2017-01-01 00:01:45
126,9060,-115,1,9303,2,7627,3,7004095,228,-122.675425,45.523522,2017-01-01 00:03:14
182,9060,-136,1,7627,3,7646,4,7004095,228,-122.676156,45.521377,2017-01-01 00:05:24
242,9060,-139,1,7646,4,7608,5,7004095,228,-122.677941,45.518067,2017-01-01 00:07:27
270,9060,-29,1,7608,5,7618,6,7004095,228,-122.680419,45.513536,2017-01-01 00:08:22
383,9060,-47,1,7606,7,13710,8,7004095,228,-122.683077,45.508826,2017-01-01 00:12:24
390,9060,-84,1,7618,6,7606,7,7004095,228,-122.682921,45.509080,2017-01-01 00:12:48
451,9060,9,1,13710,8,13711,9,7004095,228,-122.675109,45.506181,2017-01-01 00:14:18
530,9060,-81,1,13711,9,13712,10,7004095,228,-122.670613,45.502834,2017-01-01 00:17:31
531,9060,-81,1,13711,9,13712,10,7004095,304,-122.670613,45.502834,2017-01-01 00:17:32
623,9060,-129,1,13712,10,13713,11,7004095,228,-122.661926,45.506468,2017-01-01 00:20:45
663,9060,-135,1,13713,11,13714,12,7004095,228,-122.652921,45.502548,2017-01-01 00:22:16
749,9060,-145,1,13714,12,13715,13,7004095,228,-122.648483,45.493522,2017-01-01 00:24:49
772,9060,-129,1,13715,13,13716,14,7004095,228,-122.648572,45.488938,2017-01-01 00:25:27
843,9060,-108,1,13716,14,13717,15,7004095,228,-122.639576,45.472905,2017-01-01 00:28:16
923,9060,-87,1,13717,15,13718,16,7004095,228,-122.636496,45.459794,2017-01-01 00:31:00
1022,9060,-40,1,13718,16,13720,17,7004095,228,-122.641051,45.438486,2017-01-01 00:34:31

In [36]:
# orange['minute'] = orange.datetime.apply(lambda x: x.minute)
orange['day'] = orange.datetime.apply(lambda x: x.day)

In [39]:
orange.groupby([orange.tripID])['day'].nunique()[orange.groupby([orange.tripID])['day'].nunique()>1]

tripID
7063748    7
7063749    6
7063750    6
7063751    6
7063752    6
7063753    6
7063754    8
7063755    6
7063756    6
7063757    6
7063758    7
7063759    5
7063760    6
7063761    5
7063762    6
7063763    5
7063764    4
7063765    6
7063766    6
7063767    6
7063768    7
7063769    6
7063770    7
7063771    7
7063772    6
7063773    7
7063774    7
7063775    7
7063776    5
7063777    6
          ..
7130275    2
7130276    2
7130277    2
7130278    2
7130279    2
7130280    2
7130281    2
7130282    2
7130283    2
7130284    2
7130285    2
7130286    2
7130287    2
7130288    2
7130289    2
7130290    2
7130291    2
7130292    2
7130293    2
7130294    2
7130295    2
7130296    2
7130297    2
7130298    2
7130299    2
7130300    2
7130301    2
7130302    2
7130431    2
7130432    2
Name: day, Length: 404, dtype: int64

In [42]:
orange.loc[orange.tripID == 7063748].count()

blockID                       98
delay                         98
direction                     98
lastLocID                     98
lastStopSeq                   98
nextLocID                     98
nextStopSeq                   98
tripID                        98
vehicle_id                    98
vehicle_location_longitude    98
vehicle_location_latitude     98
datetime                      98
day                           98
dtype: int64

In [51]:
orange.loc[orange.tripID == 7063748]['day'].unique()

array([ 3,  4,  5,  6,  9, 10, 11])

In [49]:
orange.loc[(orange.tripID == 7063748) & (orange.day == 3)][['lastStopSeq', 'vehicle_id', 'datetime']]

       lastStopSeq  vehicle_id            datetime
67824            1         121 2017-01-03 12:03:43
67832            2         121 2017-01-03 12:04:55
67844            3         121 2017-01-03 12:06:42
67861            4         121 2017-01-03 12:08:44
67875            5         121 2017-01-03 12:09:44
67915            7         121 2017-01-03 12:13:47
67927            6         121 2017-01-03 12:15:04
67950            8         121 2017-01-03 12:17:00
67976            9         121 2017-01-03 12:20:10
68006           10         121 2017-01-03 12:22:47
68016           11         121 2017-01-03 12:24:22
68051           12         121 2017-01-03 12:26:59
68058           13         121 2017-01-03 12:27:33
68091           14         121 2017-01-03 12:30:25
68150           15         121 2017-01-03 12:33:51
68230           16         121 2017-01-03 12:38:47

In [52]:
orange.loc[(orange.tripID == 7063748) & (orange.day == 4)][['lastStopSeq', 'vehicle_id', 'datetime']]

        lastStopSeq  vehicle_id            datetime
101804            7         116 2017-01-04 12:59:37
101805            7         321 2017-01-04 12:59:38
101833            8         116 2017-01-04 13:02:04

In [55]:
jan.loc[(jan.vehicle_id == 116) & (jan.datetime.dt.day == 4)]

,bearing,blockID,delay,direction,garage,lastLocID,lastStopSeq,messageCode,nextLocID,nextStopSeq,routeNumber,signMessageLong,tripID,type,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime
88410,354,9064,-17,0,RUBY,13720,1,970,13721,2,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.635118,45.430730,2017-01-04 00:14:28
88525,18,9064,-75,0,RUBY,13721,2,970,13722,3,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.639230,45.442634,2017-01-04 00:18:28
88645,0,9064,-73,0,RUBY,13722,3,970,13723,4,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.637924,45.464975,2017-01-04 00:22:09
88739,350,9064,-94,0,RUBY,13723,4,970,13724,5,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.640522,45.477247,2017-01-04 00:24:53
88842,7,9064,-125,0,RUBY,13724,5,970,13725,6,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.648344,45.495573,2017-01-04 00:28:34
88913,308,9064,-161,0,RUBY,13725,6,970,13726,7,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.650337,45.501202,2017-01-04 00:30:49
88947,308,9064,-146,0,RUBY,13726,7,970,13727,8,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.655281,45.503979,2017-01-04 00:31:58
89015,271,9064,-151,0,RUBY,13727,8,970,13728,9,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.663004,45.506640,2017-01-04 00:34:04
89097,336,9064,-89,0,RUBY,13728,9,970,13729,10,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.673799,45.504598,2017-01-04 00:36:32
89170,279,9064,-83,0,RUBY,13729,10,970,10293,11,290,MAX Orange Line to City Center/Expo Center,7063448,rail,116,-122.681514,45.507994,2017-01-04 00:39:15
89247,20,9064,-83,0,RUBY,10293,1,972,7774,2,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.683546,45.509960,2017-01-04 00:41:34
89341,20,9064,-145,0,RUBY,7774,2,972,13123,3,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.681874,45.513057,2017-01-04 00:43:59
89373,19,9064,-159,0,RUBY,13123,3,972,7777,4,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.680337,45.515940,2017-01-04 00:45:21
89463,20,9064,-181,0,RUBY,7777,4,972,7787,5,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.678631,45.519116,2017-01-04 00:47:36
89535,20,9064,-174,0,RUBY,7787,5,972,9299,6,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.676597,45.522778,2017-01-04 00:49:45
89583,355,9064,-147,0,RUBY,9299,6,972,7763,7,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.676529,45.525156,2017-01-04 00:51:01
89660,53,9064,-156,0,RUBY,7763,7,972,11508,8,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.676479,45.528035,2017-01-04 00:53:03
89820,304,9064,-123,0,RUBY,11508,8,972,11509,9,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.669100,45.530769,2017-01-04 00:57:47
89913,324,9064,-134,0,RUBY,11509,9,972,11510,10,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.676993,45.540385,2017-01-04 01:00:34
89991,0,9064,-154,0,RUBY,11510,10,972,11511,11,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.680979,45.549035,2017-01-04 01:03:16
90072,0,9064,-162,0,RUBY,11511,11,972,11512,12,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.682270,45.556324,2017-01-04 01:05:29
90173,0,9064,-195,0,RUBY,11512,12,972,11513,13,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.682148,45.567822,2017-01-04 01:08:44
90204,0,9064,-160,0,RUBY,11513,13,972,11514,14,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.682105,45.572536,2017-01-04 01:09:25
90274,0,9064,-160,0,RUBY,11514,14,972,11515,15,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.682062,45.578163,2017-01-04 01:11:19
90356,301,9064,-186,0,RUBY,11515,15,972,11516,16,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.685968,45.583900,2017-01-04 01:13:36
90481,7,9064,-205,0,RUBY,11516,16,972,11498,17,190,MAX Yellow Line to Expo Center,7060508,rail,116,-122.684256,45.600951,2017-01-04 01:16:54
91208,203,9064,-64,1,RUBY,11498,1,971,11499,2,190,MAX Yellow Line to City Center/Milwaukie,7060859,rail,116,-122.685692,45.605354,2017-01-04 01:36:41
91319,181,9064,-72,1,RUBY,11499,2,971,11500,3,190,MAX Yellow Line to City Center/Milwaukie,7060859,rail,116,-122.686029,45.594606,2017-01-04 01:39:32
91421,115,9064,-98,1,RUBY,11500,3,971,11501,4,190,MAX Yellow Line to City Center/Milwaukie,7060859,rail,116,-122.684197,45.583167,2017-01-04 01:42:32
91518,180,9064,-110,1,RUBY,11501,4,971,11502,5,190,MAX Yellow Line to City Center/Milwaukie,7060859,rail,116,-122.682140,45.575072,2017-01-04 01:45:16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117021,181,9060,-81,1,RUBY,11499,2,971,11500,3,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.686029,45.594606,2017-01-04 22:24:40
117089,115,9060,-86,1,RUBY,11500,3,971,11501,4,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.684197,45.583167,2017-01-04 22:27:20
117167,180,9060,-104,1,RUBY,11501,4,971,11502,5,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.682140,45.575072,2017-01-04 22:30:12
117202,180,9060,-95,1,RUBY,11502,5,971,11503,6,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.682205,45.567861,2017-01-04 22:32:01
117259,180,9060,-86,1,RUBY,11503,6,971,11504,7,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.682281,45.561138,2017-01-04 22:33:45
117302,135,9060,-76,1,RUBY,11504,7,971,11505,8,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.681632,45.554114,2017-01-04 22:35:39
117417,179,9060,-144,1,RUBY,11505,8,971,11506,9,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.677238,45.541122,2017-01-04 22:40:03
117453,180,9060,-180,1,RUBY,11506,9,971,11507,10,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.674601,45.538158,2017-01-04 22:41:17
117521,129,9060,-203,1,RUBY,11507,10,971,7601,11,190,MAX Yellow Line to City Center/Milwaukie,7060846,rail,116,-122.667362,45.529953,2017-01-04 22:43:32
117641,178,9060,-178,1,RUBY,7601,1,968,9303,2,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.675518,45.526135,2017-01-04 22:47:47
117699,178,9060,-203,1,RUBY,9303,2,968,7627,3,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.675425,45.523522,2017-01-04 22:49:41
117754,202,9060,-211,1,RUBY,7627,3,968,7646,4,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.676156,45.521377,2017-01-04 22:51:38
117817,201,9060,-217,1,RUBY,7646,4,968,7608,5,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.677941,45.518067,2017-01-04 22:53:45
117853,200,9060,-119,1,RUBY,7608,5,968,7618,6,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.680419,45.513536,2017-01-04 22:54:50
117955,203,9060,-98,1,RUBY,7606,7,968,13710,8,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.683077,45.508826,2017-01-04 22:58:14
117979,202,9060,-140,1,RUBY,7618,6,968,7606,7,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.682921,45.509080,2017-01-04 22:58:45
118014,162,9060,-57,1,RUBY,13710,8,968,13711,9,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.675109,45.506181,2017-01-04 23:00:23
118118,66,9060,-168,1,RUBY,13711,9,968,13712,10,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.670613,45.502834,2017-01-04 23:03:58
118192,85,9060,-217,1,RUBY,13712,10,968,13713,11,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.661926,45.506468,2017-01-04 23:07:15
118230,128,9060,-228,1,RUBY,13713,11,968,13714,12,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.652921,45.502548,2017-01-04 23:08:51
118298,180,9060,-269,1,RUBY,13714,12,968,13715,13,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.648483,45.493522,2017-01-04 23:11:53
118336,180,9060,-278,1,RUBY,13715,13,968,13716,14,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.648572,45.488938,2017-01-04 23:12:56
118413,171,9060,-274,1,RUBY,13716,14,968,13717,15,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.639576,45.472905,2017-01-04 23:16:01
118509,175,9060,-286,1,RUBY,13717,15,968,13718,16,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.636496,45.459794,2017-01-04 23:19:19
118608,158,9060,-275,1,RUBY,13718,16,968,13720,17,290,MAX Orange Line to Milwaukie,7063793,rail,116,-122.641051,45.438486,2017-01-04 23:23:24
119172,354,9060,-44,0,RUBY,13720,1,970,13721,2,290,MAX Orange Line to City Center/Expo Center,7063446,rail,116,-122.635118,45.430730,2017-01-04 23:44:55
119274,18,9060,-86,0,RUBY,13721,2,970,13722,3,290,MAX Orange Line to City Center/Expo Center,7063446,rail,116,-122.639230,45.442634,2017-01-04 23:48:40
119355,0,9060,-81,0,RUBY,13722,3,970,13723,4,290,MAX Orange Line to City Center/Expo Center,7063446,rail,116,-122.637924,45.464975,2017-01-04 23:52:17
119442,350,9060,-111,0,RUBY,13723,4,970,13724,5,290,MAX Orange Line to City Center/Expo Center,7063446,rail,116,-122.640522,45.477247,2017-01-04 23:55:11
119547,7,9060,-139,0,RUBY,13724,5,970,13725,6,290,MAX Orange Line to City Center/Expo Center,7063446,rail,116,-122.648344,45.495573,2017-01-04 23:58:47

In [53]:
orange.loc[(orange.tripID == 7063748) & (orange.day == 5)][['lastStopSeq', 'vehicle_id', 'datetime']]

        lastStopSeq  vehicle_id            datetime
132274            1         534 2017-01-05 12:03:45
132285            2         534 2017-01-05 12:05:22
132297            3         534 2017-01-05 12:06:49
132313            4         534 2017-01-05 12:08:50
132327            5         534 2017-01-05 12:09:49
132360            7         534 2017-01-05 12:13:46
132367            6         534 2017-01-05 12:14:18
132387            8         534 2017-01-05 12:17:13
132414            9         534 2017-01-05 12:20:23
132439           10         534 2017-01-05 12:23:09
132453           11         534 2017-01-05 12:24:49
132476           12         534 2017-01-05 12:27:24
132498           13         534 2017-01-05 12:28:17
132517           14         534 2017-01-05 12:31:08
132566           15         534 2017-01-05 12:34:13
132635           16         534 2017-01-05 12:39:43

In [20]:
orange[['tripID', 'datetime', 'vehicle_id']].groupby([orange.tripID, orange.datetime.dt.hour]).nunique()

                  tripID  datetime  vehicle_id
tripID  datetime
7004093 0              1         2           2
7004094 0              1        11           2
7004095 0              1        17           2
7004096 0              1        16           2
7004097 0              1        15           2
        1              1         1           2
7004098 0              1         7           2
        1              1         9           2
7004099 0              1         1           2
        1              1        15           2
7004100 1              1        16           2
7004101 1              1        14           2
        2              1         2           2
7004102 1              1         6           2
        2              1        10           2
7004103 1              1         1           2
        2              1        16           2
7004104 2              1        16           2
7004105 2              1        13           2
        3              1         3           2
7004106 2              1         9           2
        3              1         8           2
7004107 3              1        14           2
7004108 3              1        16           2
7004109 3              1        15           2
        4              1         1           2
7004110 3              1         8           2
        4              1         8           2
7004111 4              1        16           2
7004112 4              1        16           2
...                  ...       ...         ...
7130440 2              1         8           2
7130441 2              1        16           2
7130442 2              1        16           2
7130443 2              1        13           2
        3              1         4           2
7130444 2              1         5           2
        3              1        11           2
7130445 2              1         1           2
        3              1        15           2
7130446 3              1        16           2
7130447 3              1        13           2
        4              1         3           2
7130448 3              1         8           2
        4              1         8           2
7130449 3              1         2           2
        4              1        15           1
7130450 4              1        16           2
7130451 4              1        15           2
        5              1         1           2
7130452 4              1         7           2
        5              1         9           2
7130453 5              1        16           2
7130454 5              1         5           2
        6              1        11           2
7130455 6              1        15           2
        7              1         1           2
7130456 7              1        16           2
7130457 7              1        13           2
        8              1         3           2
7130458 8              1        16           2

[1212 rows x 3 columns]

In [46]:
orange['hour'] = orange.datetime.dt.hour.copy()

In [47]:
orange['minute'] = orange.datetime.apply(lambda x: x.minute)

In [31]:
orange.loc[orange.tripID == 7130449].duplicated(subset=['hour'])

770472    False
770487     True
770570    False
770627     True
770699     True
770720     True
770811     True
770825     True
770895     True
770995     True
771073     True
771104     True
771152     True
771198     True
771270     True
771334     True
771473     True
dtype: bool

In [40]:
orange.loc[orange.tripID == 7130449].loc[orange.duplicated(subset=['minute', 'hour'])].head()

,bearing,blockID,delay,direction,garage,lastLocID,lastStopSeq,messageCode,nextLocID,nextStopSeq,routeNumber,signMessageLong,tripID,type,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
770472,178,9066,0,1,RUBY,7601,11,968,7601,1,290,MAX Orange Line to Milwaukie,7130449,rail,205,-122.675544,45.526736,2017-01-30 03:59:19,3,59
770487,178,9066,2,1,RUBY,7601,1,968,9303,2,290,MAX Orange Line to Milwaukie,7130449,rail,247,-122.675518,45.526135,2017-01-30 03:59:49,3,59
770570,178,9066,-59,1,RUBY,9303,2,968,7627,3,290,MAX Orange Line to Milwaukie,7130449,rail,205,-122.675425,45.523522,2017-01-30 04:02:17,4,2
770627,202,9066,-74,1,RUBY,7627,3,968,7646,4,290,MAX Orange Line to Milwaukie,7130449,rail,205,-122.676156,45.521377,2017-01-30 04:04:22,4,4
770699,201,9066,-87,1,RUBY,7646,4,968,7608,5,290,MAX Orange Line to Milwaukie,7130449,rail,205,-122.677941,45.518067,2017-01-30 04:06:34,4,6

In [43]:
orange.groupby(['routeNumber']).nunique()

,bearing,blockID,delay,direction,garage,lastLocID,lastStopSeq,messageCode,nextLocID,nextStopSeq,routeNumber,signMessageLong,tripID,type,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
routeNumber,,,,,,,,,,,,,,,,,,,,
290,77,13,1160,1,1,16,16,1,17,17,1,1,728,1,132,1039,1052,30628,24,60

In [48]:
orange.drop('routeNumber', 1, inplace=True)

In [49]:
orange.drop(['messageCode', 'garage', 'type', 'direction'], 1, inplace=True)

In [50]:
orange.head()

,bearing,blockID,delay,lastLocID,lastStopSeq,nextLocID,nextStopSeq,signMessageLong,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
44,203,9068,-234,7606,7,13710,8,MAX Orange Line to Milwaukie,7004094,534,-122.683077,45.508826,2017-01-01 00:00:30,0,0
46,203,9068,-234,7606,7,13710,8,MAX Orange Line to Milwaukie,7004094,537,-122.683077,45.508826,2017-01-01 00:00:30,0,0
63,202,9068,-273,7618,6,7606,7,MAX Orange Line to Milwaukie,7004094,534,-122.682921,45.509080,2017-01-01 00:00:58,0,0
64,175,9064,-85,13717,15,13718,16,MAX Orange Line to Milwaukie,7004093,412,-122.636496,45.459794,2017-01-01 00:00:58,0,0
65,175,9064,-85,13717,15,13718,16,MAX Orange Line to Milwaukie,7004093,420,-122.636496,45.459794,2017-01-01 00:00:58,0,0

In [51]:
orange.sort_values('datetime', inplace=True)
orange.reset_index(drop=True, inplace=True)

In [52]:
list(orange.columns.values)

['bearing',
 'blockID',
 'delay',
 'lastLocID',
 'lastStopSeq',
 'nextLocID',
 'nextStopSeq',
 'signMessageLong',
 'tripID',
 'vehicle_id',
 'vehicle_location_longitude',
 'vehicle_location_latitude',
 'datetime',
 'hour',
 'minute']

In [53]:
orange.head()

,bearing,blockID,delay,lastLocID,lastStopSeq,nextLocID,nextStopSeq,signMessageLong,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
0,203,9068,-234,7606,7,13710,8,MAX Orange Line to Milwaukie,7004094,534,-122.683077,45.508826,2017-01-01 00:00:30,0,0
1,203,9068,-234,7606,7,13710,8,MAX Orange Line to Milwaukie,7004094,537,-122.683077,45.508826,2017-01-01 00:00:30,0,0
2,202,9068,-273,7618,6,7606,7,MAX Orange Line to Milwaukie,7004094,534,-122.682921,45.509080,2017-01-01 00:00:58,0,0
3,175,9064,-85,13717,15,13718,16,MAX Orange Line to Milwaukie,7004093,412,-122.636496,45.459794,2017-01-01 00:00:58,0,0
4,175,9064,-85,13717,15,13718,16,MAX Orange Line to Milwaukie,7004093,420,-122.636496,45.459794,2017-01-01 00:00:58,0,0

In [60]:
orange.groupby(['nextLocID']).nunique()

,bearing,blockID,delay,lastLocID,lastStopSeq,nextLocID,nextStopSeq,signMessageLong,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
nextLocID,,,,,,,,,,,,,,,
7601,1,13,121,1,4,1,1,1,246,69,2,2,311,21,48
7606,5,13,536,1,1,1,1,1,715,131,210,211,1873,24,60
7608,4,13,506,1,1,1,1,1,724,132,37,38,1930,24,60
7618,1,13,534,1,1,1,1,1,724,132,9,9,1969,24,60
7627,5,13,461,1,1,1,1,1,724,132,19,28,1948,24,60
7646,3,13,489,1,1,1,1,1,725,132,59,59,1943,24,60
9303,1,13,337,1,1,1,1,1,597,132,4,4,1598,24,60
13710,5,13,535,1,1,1,1,1,727,132,5,5,1959,24,60
13711,3,13,530,1,1,1,1,1,725,131,7,5,1948,24,60
13712,14,13,552,1,1,1,1,1,725,131,156,142,1942,24,60
13713,23,13,559,1,1,1,1,1,725,131,297,160,1927,24,60
13714,6,13,568,1,1,1,1,1,725,132,42,42,1924,24,60
13715,10,13,579,1,1,1,1,1,724,131,163,317,1912,24,60
13716,7,13,581,1,1,1,1,1,724,131,14,17,1934,23,60
13717,3,13,598,1,1,1,1,1,724,131,7,7,1912,23,60
13718,3,13,604,1,1,1,1,1,725,131,6,6,1916,24,60
13720,4,13,629,1,1,1,1,1,725,132,4,4,1921,24,60

In [62]:
orange.loc[orange.nextLocID == 7601].groupby(['vehicle_location_longitude', 'vehicle_location_latitude']).nunique()

,,bearing,blockID,delay,lastLocID,lastStopSeq,nextLocID,nextStopSeq,signMessageLong,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
vehicle_location_longitude,vehicle_location_latitude,,,,,,,,,,,,,,,
-122.675544,45.526736,1,13,117,1,3,1,1,1,241,69,1,1,305,21,48
-122.675542,45.526701,1,3,6,1,2,1,1,1,5,11,1,1,6,2,5

In [64]:
orange.loc[orange.nextLocID == 9303].groupby(['vehicle_location_longitude', 'vehicle_location_latitude']).nunique()

,,bearing,blockID,delay,lastLocID,lastStopSeq,nextLocID,nextStopSeq,signMessageLong,tripID,vehicle_id,vehicle_location_longitude,vehicle_location_latitude,datetime,hour,minute
vehicle_location_longitude,vehicle_location_latitude,,,,,,,,,,,,,,,
-122.675544,45.526736,1,12,24,1,1,1,1,1,54,33,1,1,55,19,21
-122.675542,45.526701,1,2,2,1,1,1,1,1,2,4,1,1,2,2,2
-122.675518,45.526135,1,13,290,1,1,1,1,1,577,132,1,1,1433,24,60
-122.675465,45.524836,1,12,81,1,1,1,1,1,92,92,1,1,108,21,40

In [70]:
jan.loc[jan.nextLocID == 7601].groupby(['vehicle_location_longitude', 'vehicle_location_latitude', 'delay']).nunique()

                                                            bearing  blockID  \
vehicle_location_longitude vehicle_location_latitude delay
-122.676592                45.527812                  10          1        1
-122.676591                45.527773                 -231         1        1
-122.676562                45.527961                 -1000        1        1
-122.676506                45.528018                 -315         1        1
-122.676459                45.528046                 -188         1        1
-122.676262                45.528087                 -240         1        1
-122.675695                45.528102                 -117         1        1
-122.675544                45.526736                 -1000        1        2
                                                     -648         1        1
                                                     -628         1        1
                                                     -611         1        1
                                                     -581         1        1
                                                     -555         1        1
                                                     -471         1        1
                                                     -437         1        1
                                                     -422         1        1
                                                     -417         1        1
                                                     -410         1        1
                                                     -352         1        1
                                                     -351         1        1
                                                     -290         1        1
                                                     -276         1        1
                                                     -261         1        1
                                                     -241         1        1
                                                     -240         1        1
                                                     -220         1        1
                                                     -219         1        1
                                                     -216         1        1
                                                     -205         1        1
                                                     -193         1        1
...                                                             ...      ...
-122.665867                45.530199                  3           1        1
                                                      4           1        4
                                                      5           1        5
                                                      6           1        4
                                                      7           1        1
                                                      8           1        2
                                                      9           1        2
                                                      10          1        2
                                                      11          1        1
                                                      12          1        3
                                                      14          1        1
                                                      15          1        1
                                                      16          1        2
                                                      17          1        2
                                                      18          1        1
                                                      19          1        1
                                                      21          1        2
                                                      22          1        3
                                                      23          1        1
                                                      24          1        1
                                                      27          1        1
                                                      29          1        2
                                                      35          1        2
                                                      43          1        1
                                                      44          1        1
                                                      51          1        1
                                                      57          1        1
                                                      62          1        1
                                                      64          1        1
                                                      71          1        1

                                                            delay  direction  \
vehicle_location_longitude vehicle_location_latitude delay
-122.676592                45.527812                  10        1          1
-122.676591                45.527773                 -231       1          1
-122.676562                45.527961                 -1000      1          1
-122.676506                45.528018                 -315       1          1
-122.676459                45.528046                 -188       1          1
-122.676262                45.528087                 -240       1          1
-122.675695                45.528102                 -117       1          1
-122.675544                45.526736                 -1000      1          1
                                                     -648       1          1
                                                     -628       1          1
                                                     -611       1          1
                                                     -581       1          1
                                                     -555       1          1
                                                     -471       1          1
                                                     -437       1          1
                                                     -422       1          1
                                                     -417       1          1
                                                     -410       1          1
                                                     -352       1          1
                                                     -351       1          1
                                                     -290       1          1
                                                     -276       1          1
                                                     -261       1          1
                                                     -241       1          1
                                                     -240       1          1
                                                     -220       1          1
                                                     -219       1          1
                                                     -216       1          1
                                                     -205       1          1
                                                     -193       1          1
...                                                           ...        ...
-122.665867                45.530199                  3         1          1
                                                      4         1          1
                                                      5         1          1
                                                      6         1          1
                                                      7         1          1
                                                      8         1          1
                                                      9         1          1
                                                      10        1          1
                                                      11        1          1
                                                      12        1          1
                                                      14        1          1
                                                      15        1          1
                                                      16        1          1
                                                      17        1          1
                                                      18        1          1
                                                      19        1          1
                                                      21        1          1
                                                      22        1          1
                                                      23        1          1
                                                      24        1          1
                                                      27        1          1
                                                      29        1          1
                                                      35        1          1
                                                      43        1          1
                                                      44        1          1
                                                      51        1          1
                                                      57        1          1
                                                      62        1          1
                                                      64        1          1
                                                      71        1          1

                                                            garage  lastLocID  \
vehicle_location_longitude vehicle_location_latitude delay
-122.676592                45.527812                  10         1          1
-122.676591                45.527773                 -231        1          1
-122.676562                45.527961                 -1000       1          1
-122.676506                45.528018                 -315        1          1
-122.676459                45.528046                 -188        1          1
-122.676262                45.528087                 -240        1          1
-122.675695                45.528102                 -117        1          1
-122.675544                45.526736                 -1000       1          1
                                                     -648        1          1
                                                     -628        1          1
                                                     -611        1          1
                                                     -581        1          1
                                                     -555        1          1
                                                     -471        1          1
                                                     -437        1          1
                                                     -422        1          1
                                                     -417        1          1
                                                     -410        1          1
                                                     -352        1          1
                                                     -351        1          1
                                                     -290        1          1
                                                     -276        1          1
                                                     -261        1          1
                                                     -241        1          1
                                                     -240        1          1
                                                     -220        1          1
                                                     -219        1          1
                                                     -216        1          1
                                                     -205        1          1
                                                     -193        1          1
...                                                            ...        ...
-122.665867                45.530199                  3          1          1
                                                      4          1          1
                                                      5          1          1
                                                      6          1          1
                                                      7          1          1
                                                      8          1          1
                                                      9          1          1
                                                      10         1          1
                                                      11         1          1
                                                      12         1          1
                                                      14         1          1
                                                      15         1          1
                                                      16         1          1
                                                      17         1          1
                                                      18         1          1
                                                      19         1          1
                                                      21         1          1
                                                      22         1          1
                                                      23         1          1
                                                      24         1          1
                                                      27         1          1
                                                      29         1          1
                                                      35         1          1
                                                      43         1          1
                                                      44         1          1
                                                      51         1          1
                                                      57         1          1
                                                      62         1          1
                                                      64         1          1
                                                      71         1          1

                                                            lastStopSeq  \
vehicle_location_longitude vehicle_location_latitude delay
-122.676592                45.527812                  10              1
-122.676591                45.527773                 -231             1
-122.676562                45.527961                 -1000            1
-122.676506                45.528018                 -315             1
-122.676459                45.528046                 -188             1
-122.676262                45.528087                 -240             1
-122.675695                45.528102                 -117             1
-122.675544                45.526736                 -1000            1
                                                     -648             1
                                                     -628             1
                                                     -611             1
                                                     -581             1
                                                     -555             1
                                                     -471             1
                                                     -437             1
                                                     -422             1
                                                     -417             1
                                                     -410             1
                                                     -352             1
                                                     -351             1
                                                     -290             1
                                                     -276             1
                                                     -261             1
                                                     -241             1
                                                     -240             1
                                                     -220             1
                                                     -219             1
                                                     -216             1
                                                     -205             1
                                                     -193             1
...                                                                 ...
-122.665867                45.530199                  3               1
                                                      4               1
                                                      5               2
                                                      6               2
                                                      7               1
                                                      8               1
                                                      9               1
                                                      10              1
                                                      11              1
                                                      12              1
                                                      14              1
                                                      15              1
                                                      16              1
                                                      17              1
                                                      18              1
                                                      19              1
                                                      21              1
                                                      22              1
                                                      23              1
                                                      24              1
                                                      27              1
                                                      29              1
                                                      35              2
                                                      43              1
                                                      44              1
                                                      51              1
                                                      57              1
                                                      62              1
                                                      64              1
                                                      71              1

                                                            messageCode  \
vehicle_location_longitude vehicle_location_latitude delay
-122.676592                45.527812                  10              1
-122.676591                45.527773                 -231             1
-122.676562                45.527961                 -1000            1
-122.676506                45.528018                 -315             1
-122.676459                45.528046                 -188             1
-122.676262                45.528087                 -240             1
-122.675695                45.528102                 -117             1
-122.675544                45.526736                 -1000            1
                                                     -648             1
                                                     -628             1